<div class="container p-2">
  <app-carrello-mini></app-carrello-mini>
  <hr />
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="select('todo')">
      Todo
    </button>
    <button type="button" class="btn btn-primary" (click)="select('auto')">
      Auto
    </button>
  </div>
  <hr />
  @if (selectedSection == "auto") {
  <section>
    <h1>Auto</h1>
    <app-auto-list></app-auto-list>
  </section>
  } @if (selectedSection == "todo") {
  <section>
    <h1>Todo List</h1>
    <app-todo-list></app-todo-list>
  </section>
  }
</div>
